
    /*Alternate Dark Mode-esque Style*/
    body {  
    background-color: #281414;
    color: #E59595;
    }
    
    
    h1 {
        margin: 15px;
        text-align: center;
        
    }

    hr {
        margin-left: 10;
        margin-right: 10;
    }
    /*The 'buttons' DIV*/
    #buttons {
        margin: auto 10;
        text-align: center;
    }

    #data {
        margin: auto 10;
        text-align: center;
        display: inline;
    }

    #menu_bar {
        display: inline-flex; /*inline-flex; inline-block*/
    }

    h1#menu_bar {
        float: right;
    }

    #main_bar {
        text-align: center;
    }
    
    .data {
        line-height: 1.6;
        color: #e5acac;
    }

    button {
        /* Figure out how to set minimum width so that the button content doesn't cut off */
        background-color: #ad4c4c;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 24px 25px auto 25px; /*4px 5px auto auto*/
        cursor: pointer;
    }

    button:hover {
        background-color: #cc5b5b;
    }

    button:active {
        background-color: #d86161;
    }

    
    input {
        background-color: rgb(238, 241, 202);
        border: black 2px solid;
        width: 10%;
        height: 2.5%;
    }

    .login_button {
        background-color: #5ac25d;
        width: 5%;
        height: 5%;
        border-radius: 5px;
    }

    .login_button:hover {
        background-color: #5BCC5B;
    }

    .login_button:active {
        background-color: #62DB62;
    }